version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: event-backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    networks:
      - event-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=http://103.180.139.204:5000
    container_name: event-frontend
    restart: unless-stopped
    ports:
      - "80:3000"
    depends_on:
      - backend
    networks:
      - event-network

networks:
  event-network:
    driver: bridge